<% provide(:title, 'Saltslösning') %>

    <h1><%= yield(:title) %></h1>
    

<iframe src="https://view-api.box.com/1/sessions/a98ec5e203cd4b5bb686db41716a12a1/view?theme=dark" height="240" width="400" allowfullscreen=""></iframe>
